---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
    {% if page.picture %}
        <section class="hero has-photo" style="background-image: url({{ site.baseurl }}/assets/images/{{ page.picture }});">
    {% else %}
        <section class="hero is-primary">
    {% endif %}
        <div class="hero-body">
            <div class="has-text-centered">
                <h1 class="title">
                    {{ page.title | escape }}
                </h1>
                <h2 class="subtitle">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ page.date | date: "%-d %b, %Y" }}
                        {% if page.author%}
                            - {{ page.author }}
                        {% endif %}
                    </time>
                </h2>
            </div>
        </div>
    </section>

    <section class="section" itemprop="articleBody">
        <div class="container">
            <div class="is-medium">
                {{ content }}
            </div>
        </div>
    </section>
</article>
